{% extends "base.html" %}

{% block pageTitle %}
訂單明細
{% endblock %}

{% block css %}
<link href="/static/css/cart.css" rel="stylesheet" >
{% endblock %}

{% block Welcome %}
<p class="Cookie"> Hi! {{name}}</p>
{% endblock %}

{% block mainContent %}

	<div style="margin-top: 100px;"></div>
	<div id="maindiv">

		{% if firstsearch == 1 %}

			<form action='/cartordercheck/' method="get">

				<p class="title">訂單查詢</p>

				<table border="0" align="center" cellpadding="10" cellspacing="0">

					<tr>
						<td>訂單編號</td>
						<td><input name="orderid" type="text" /></td>
					</tr>

					<tr>
						<td>電子郵件</td>
						<td><input name="customEmail" type="text" required /></td>
					</tr>

					<tr>
						<td colspan="2"><input type="submit" value="查詢" /></td>
					</tr>

				</table>

			</form>


		{% else %}
			{% if notfound == 1 %}

				<form action="/cartordercheck/" method="get">

					<p class="title">訂單查詢</p>

					<div class="message" align="center" style="color: red;">對不起，找不到您的訂單資料，請重新查詢。</div>

					<table border="0" align="center" cellpadding="10" cellspacing="0">

						<tr>
							<td>訂單編號</td>
							<td><input name="orderid" type="text" placeholder="請輸入欲查詢的訂單編號" required /></td>
						</tr>

						<tr>
							<td>電子郵件</td>
							<td><input name="customEmail" type="text" placeholder="請輸入訂購時的電子郵件" required /></td>
						</tr>

						<tr>
							<td colspan="2"><input type="submit" value="查詢" /></td>
						</tr>

					</table>

				</form>


			{% else %}

				<p class="title">訂單資料</p>

				<p class="subject">訂單編號：<font color="#ff0000">{{orderid}}</font></p>

				<table width="90%" border="0" align="center" cellpadding="4" cellspacing="1">

					<tr>
						<th align="center" bgcolor="#cccccc">商品名稱</th>
						<th width="80" align="center" bgcolor="#cccccc">單價</th>
						<th width="80" align="center" bgcolor="#cccccc">數量</th>
						<th width="100" align="center" bgcolor="#cccccc">金額</th>
					</tr>

					{% for unit in details %}

						<tr>
							<td align="center" bgcolor="#ffffff">{{unit.pname}}</td>
							<td width="80" align="center" bgcolor="#ffffff">{{unit.unitprice}}</td>
							<td width="80" align="center" bgcolor="#ffffff">{{unit.quantity}}</td>
							<td width="100" align="center" bgcolor="#ffffff">{{unit.dtotal}}</td>
						</tr>

					{% endfor %}

					<tr>
						<td colspan="3" align="left" bgcolor="#ffffff"><strong>小計</strong></td>
						<td width="150" align="center" bgcolor="#ffffff"><strong>${{order.subtotal}}</strong></td>
					</tr>

					<tr>
						<td colspan="3" align="left" bgcolor="#ffffff"><strong>運費</strong></td>
						<td width="150" align="center" bgcolor="#ffffff"><strong>$100</strong></td>
					</tr>

					<tr>
						<td colspan="3" align="left" bgcolor="#ffffff"><strong>總計</strong></td>
						<td width="150" align="center" bgcolor="#ffffff"><strong>${{order.grandtotal}}</strong></td>
					</tr>

				</table>

				<p class="subject">訂單客戶資料</p>
				<table width="90%" border="0" align="center" cellpadding="4" cellspacing="1" style="margin-bottom: 50px;">
					<tr>
						<td width="100" align="center" bgcolor="#cccccc"><strong>姓名</strong></td>
						<td bgcolor="#ffffff">{{order.guestName}}</td>
					</tr>

					<tr>
						<td width="100" align="center" bgcolor="#cccccc"><strong>電話</strong></td>
						<td bgcolor="#ffffff">{{order.guestPhone}}</td>
					</tr>

					<tr>
						<td width="100" align="center" bgcolor="#cccccc"><strong>地址</strong></td>
						<td bgcolor="#ffffff">{{order.guestAddress}}</td>
					</tr>

					<tr>
						<td width="100" align="center" bgcolor="#cccccc"><strong>Email</strong></td>
						<td bgcolor="#ffffff">{{order.guestMail}}</td>
					</tr>

					<tr>
						<td width="100" align="center" bgcolor="#cccccc"><strong>付款方式</strong></td>
						<td bgcolor="#ffffff">{{order.payType}}</td>
					</tr>
				</table>

			{% endif %}
		{% endif %}

	</div>


{% endblock %}