{% extends "base.html" %}

{% block pageTitle %}
產品列表
{% endblock %}

{% block css %}
<link href="/static/css/product.css" rel="stylesheet" >
{% endblock %}

{% block Welcome %}
<p class="Cookie"> Hi! {{name}}</p>
{% endblock %}


{% block mainContent %}

<div id="goodsArea">

	<div id="formSearch">
		<form action="" method="get">

			<fieldset>
				<legend>查詢條件</legend>

				<div>
					<label for="goods">搜尋商品：</label>
					<input type="text" id="goods" name="goods" size="30" />
				</div>

				<div>
					<label for="goods">商品種類：</label>
					<select id="items" name="items">
						<option value="0" selected >無限制</option>
						<option value="1">家電</option>
						<option value="2">食品</option>
					</select>
				</div>

				<div>
					<label for="price">搜尋價格：</label>
					<input type="text" id="price" name="startprice" size="10" />
					～
					<input type="text" name="endprice" size="10" />
				</div>

				<div>
					<button type="submit">查詢</button>
				</div>

			</fieldset>

		</form>
	</div>

	<!--  goods 為 views.py 中的字典 {'goods':allGoods} 中的 key -->
  {% for row in goods %}	 

	<div class="info">
		<a href="{{row.goods_url}}" target="_blank"><img src="{{row.photo_url}}"></a>
		<!-- target="_blank" 跳新分頁 -->
		<p style="text-align: left; ">{{row.title}}</p>
		<p style="text-align: left; margin-left: 61%; font-weight: bold;">NT: {{row.price}}</p>
		
		<div class="cart_block">
			<a href="/addtocart/add/{{row.id}}/"><img src="/static/images/cart.png"></a>
			
		</div>
		

	</div>	

	

  {% endfor %}

     <div style="clear:both; height: 60px; text-align: center;">

	 {% if goods.has_previous %}

		<a href="?page={{goods.previous_page_number}}&goods={{product}}&items={{items}}&startprice={{startprice}}&endprice={{endprice}}" style="text-decoration: none; color: #6c1912;" >上一頁</a>

	 {% endif %}

	 {% if goods.has_next %}
		<a href="?page={{goods.next_page_number}}&goods={{product}}&items={{items}}&startprice={{startprice}}&endprice={{endprice}}" style="text-decoration: none; color: #6c1912;" >下一頁</a>


	 {% endif %}

	 </div>

</div>

{% endblock %}

